<html>
  <body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
 <!--{% block body %}{% endblock %} -->
    <h1>Add College</h1>
    <form method="POST" action="/">
      <input type="text" name="schoolname">
      <input type="submit" value="Add">
    </form>

    <h1>Colleges</h1>
    <table>
      {% for college in colleges %}
        <tr>
          <td>
            {{college.schoolname}}
          </td>
          <!--
          <td>
            <form method="POST" action="./update" style="display: inline">
              <input type="hidden" value="{{college.schoolname}}" name="oldschoolname">
              <input type="text" value="{{college.schoolname}}" name="newschoolname">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{college.schoolname}}" name="schoolname">
              <input type="submit" value="Delete">
            </form>
          </td>
          -->
        </tr>
        {% endfor %}
    </table>
  </body>
</html>
